
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Kiona';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/kiona/Kiona-Itallic.ttf");
  }
  @font-face {
    font-family: 'Kiona';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/kiona/Kiona-Regular.ttf");
  }

body{
    font-family: 'Montserrat', sans-serif !important;
    color:#22423c !important;
    font-size: 15px !important;
}


.site-content {
	display: block!important;
}

h1, h2, h3, h4{
    font-family: 'Kiona';
    font-style: normal;
    font-weight: 400;
}
.container-fluid{
  max-width: 1500px !important;
}

header .site-logo a img{
    max-width: 80px;
    margin: 10px 0px;
}
.container {
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    margin: 0px!important;
}
.caption-personalizado{
    position: absolute;
    top: 355px;
    background-color: transparent !important;
    left: 13% !important;
    /* font-size: 40px; */
    width: 75% !important;
    /* left: 50% !important; */
    /* transform: translate(-50%, -50%) !important; */
    text-align: center !important;
}

.caption-personalizado h2{ 
    background-color: #F8D116;
    opacity: 0.7;
    width: fit-content;
    margin: 0 auto;
    padding: 2%;
}

.container-menu-home button{
    background: transparent!important;
    border: 0px!important;
}

.slideshow__btn{
    background-color: #F8D116!important;
    margin: 3%!important;
    font-weight: bold!important;
}

.metaslider .caption-wrap{
    position: inherit!important; 
    bottom: inherit!important;
    /* bottom: 0; */
    /* left: 0; */
    background: inherit!important;
    color: black!important;
    opacity: 1!important;
    margin: 0px;
    /* display: block; */
    /* width: 100%; */
    /* font-size: 44px; */
    /* line-height: 0px!important;*/
}


.woocommerce ul.products li.product .price{
    margin-top: .5em;
}
.woocommerce .products .star-rating{
    margin-top: .5em;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title{
    font-weight: bold!important;
}

/*.nivo-caption{
    position: absolute;
   top:60%;
    background-color: transparent !important;
    left: 20% !important;
    font-size: 40px;
    width: 30% !important;  
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
}
.inside-header {
    padding: 0px !important;
}
.metaslider .theme-default .nivo-controlNav {
    text-align: center;
    padding: 20px 0;
    position: absolute !important;
    width: 100%;
    bottom: 0px;
    z-index: 1001;
}
.slider-wrapper{
    position: relative !important;
}*/



/*.gourmet-categorias{
    padding: 6rem 0px;
    background-image: url(http://localhost/trabajo_diony/sitos_wrodpress/cuadros/wp-content/uploads/2020/11/fondo.png);
    background-repeat: repeat;
    background-size: 47% auto;
}
.design-1 .pcdfwoo-product-cat_inner .pcdfwoo_title{
    background-color: transparent;
    font-weight: 700;
    color:#fff;
}
.design-1 .pcdfwoo-product-cat_inner .pcdfwoo_title .pcdfwoo_count {
    background: transparent !important;
    border-radius: 2px !important;
    border: solid 1px #000;
    color: #ffffff;
    display: block;
    font-size: 11px;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -15px;
    position: absolute;
    top: -15px;
    vertical-align: middle;
    width: 30px;
}

.separate-containers .comments-area, .separate-containers .inside-article, .separate-containers .page-header, .separate-containers .paging-navigation {
    padding: 0px !important;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.main-navigation .main-nav ul li a {
    text-transform: uppercase;
    color:#fff;
    font-weight: 400; 
    font-size: 16px;
    
}
.home .main-navigation .main-nav ul li a {
  text-transform: uppercase;
  color:#fff !important;
  font-weight: 400; 
  font-size: 16px;
  
}
.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: #9A7C3B;
    background-color:transparent;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button { 
    font-size: 100%;
    margin: 0;
    margin-top: 0px;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 10px 1em;
    font-weight: normal;
    border-radius: 0px;
    left: auto;
    color: #000;
    background-color: transparent !important;
    border:solid 1px #000 !important;
    border: 0;
    display: block;
    background-image: none;
    box-shadow: none;
    text-shadow: none; 
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
   
    text-align: center;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 1em;
    color:#000;
    font-weight: 600;
}
.woocommerce ul.products li.product .price {
    color: #000;
    font-weight: 400;
    font-size: .857em;
}
.home .container{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.design-1 .pcdfwoo-product-cat_inner {
    background-color: #ffffff;
    border:none !important;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    z-index: 9;
    box-shadow: 0px 10px 10px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: .5em;
}
.titulo-categorias{
    color:#D05755;
    padding-bottom: 5rem;
}

.pcdfwoo_count{
   background-color: #fff;
   padding: 10px;
   position: absolute;
   top:20px;
   z-index: 12 !important;
   right: 20px;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   box-shadow: 10px 10px 15px 0 rgba(0,0,0,.05);
   border:solid 2px #e7e7e7;
   color:#D47D20;
}
/*.nivo-caption{
  font-family: 'Kiona' !important;
    font-style: normal;
    font-weight:700;
}*/

.main-navigation, .main-navigation ul ul {
    background-color:transparent !important;
}
#site-navigation{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#primary{
    padding: 9em 0;
}
.site-info {
    
    background-color:#F1EEE9 !important;
    color:#22423c !important;
}
.site-info a{
    color:#22423c !important;
}
.entry-title{
    text-align: center;
}
/*.carrito{
    cursor: pointer !important;
    width: 43px;
    height: 43px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.carrito:hover{
    background-color:#F8D116;    
}*/

.home #masthead{
    background-color: transparent;
}

/*.menuScrollopen{
    background:inherit;
    background-color: #022343!important;
    transition: all 3s ease;
    /*height: 150px;
}
.menuScrollclose{
    height: 103px;
    transition: all 3s ease;
    background-color: transparent!important;
}*/

/******* tira **************/

#tira-info{
    background-color: #F8D116!important;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
    font-weight: bold;
    padding: 2px;
}

#tira-info .item-tira div:last-child{
    text-align: end;
}

.home .fixed-top { 
    top: 27px!important;
}
.top-nav-collapse {   
    background-color: #e0e0e0 !important;
    border-top: 0px;
    box-shadow: 0 2px 0px 0 rgb(0 0 0 / 16%), 0 2px 0px 0 rgb(0 0 0 / 12%);
}

/******* tira movil **************/
.ticker {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 23px;
    margin: 0 auto
}

.news {
    width: 100%;
    background: #F8D116!important;
    padding: 0 2%;
    height: inherit;
}


.news marquee {
    font-size: 18px;
    margin-top: 0px
}

.news-content p {
    /*margin-right: 41px;*/
    display: inline
}
.news-content span {
    color: #667490;
    margin-left: 5px;
    margin-right: 5px;
}

/*
#container-categorias-home{
    display: flex !important;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #3a3a3a;
    z-index: 1001;
    background-color: transparent;
    position: fixed !important;
    left: 0;
    top: 150px;
    margin-top: 20px!important;
}
.item-categoria{
    margin-right: 6%;
}
.container-item-categoria{
    text-align: center;
    width: 100%;
    margin: 0 auto;    
}

.container-item-categoria a{
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
}
.container-item-categoria a:hover{
    color: #FFF;
}*/

#page section{
    padding: 2%;
}

#page section.prensa{
    padding-top: 0px!important;
}

.cuadros-categorias a.waves-effect, .cuadros-categorias a.waves-light{
    display: block!important;
}

@media (max-width: 768px) {   
    .item-categoria {
        float: left;
    }
    .items-categorias{
        margin-left: 10%;
    }

    .container-tira-info div div{
        text-align: center!important;
    }
    
    .titulo-categorias{
        margin-top: 0px!important;
    }
}

    .titulo-categorias{
        margin-top: 37%;
    }

  /* Navigation*/
  .navbar {
    background-color: transparent;
  }
  .navbar-nav{
    font-weight: bold;
    /*padding-left: 13%;*/
  }
  .scrolling-navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
 
  footer.page-footer {
    background-color: #CCC;
  }
  

  /* Necessary for full page carousel*/
  html,
  body,
  .view {
    height: 100%;
  }

  /* Carousel*/
  .carousel,
  .carousel-item,
  .carousel-item.active {
    height: 100%;
   }
  .carousel-inner {
    height: 100vh;  
  }

  .carousel-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  /*.carousel-item:nth-child(1) {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .carousel-item:nth-child(2) {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/30.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .carousel-item:nth-child(3) {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(10).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }*/


  .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }

.carousel-fade .carousel-item {
    opacity: 0.5;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active, .carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.navbar.scrolling-navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
}


/**** Carusel productos *****/

.cuadros-productos .carousel-item-next, .cuadros-productos .carousel-item-prev, .cuadros-productos .carousel-item.active{
    display: flex!important;
}

.cuadros-productos .carousel-inner{
   height: auto!important;
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;
}

.cuadros-productos .controls-top .btn-floating {
    background: #4285f4;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
    margin-top: 16px;
}
.cuadros-productos .controls-top {
    margin-bottom: 1.88rem;
    text-align: center;
}

.cuadros-productos{
    background: #dee2e6;
}

.carousel-item-product .woocommerce ul.products li.product, .carousel-item-product .woocommerce-page ul.products li.product{
    margin: 0px!important;
    width: 100%!important;
  }
  .carousel-item-product a{
      width: 100%;
  }

/**** Fin Carusel productos *****/


/*.cuadros-productos .carousel-multi-item1 {
    margin-bottom: 5rem;
}

.cuadros-productos .carousel-multi-item1 .controls-top {
    margin-bottom: 1.88rem;
    text-align: center;
}
.cuadros-productos .carousel-inner1{
    position: relative;
    width: 100%;
    overflow: hidden;

}

.cuadros-productos .carousel-multi-item1 .carousel-inner1 {
    padding-top: .5rem;
    padding-bottom: 1rem;
}
.cuadros-productos .carousel-item1.active{
    display: flex!important;
}

.cuadros-productos .carousel-item1 {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.carousel-multi-item1 .carousel-inner1.v-2 .carousel-item1.active, .carousel-multi-item1 .carousel-inner1.v-2 .carousel-item-next, .carousel-multi-item1 .carousel-inner.v-2 .carousel-item-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
*/


/***** Artistas *****/
.chip {
    /*display: inline-block;*/
    height: 85px;
    padding: 0 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 16px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    float: left;
}

.chip.chip-lg {
    height: 85px;
    line-height: 85px;
    border-radius: 40px;
}

.light-blue.lighten-4 {
    background-color: #b3e5fc !important;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.chip.chip-lg img {
    height: 85px;
    width: 85px;
}

.chip img {
    float: left;
    width: 85px;
    height: 85px;
    margin: 0 8px 0 -12px;
    border-radius: 50%;
}

.artistas{
    background-color: #CCCC;
}

/*** Prensa ***/
.press-list .press-item.lesechos {
    background-position: 0 -5px;
    width: 166px;
    height: 30px;
}
.press-list .press-item {
    background-image: url(https://d17h7hjnfv5s46.cloudfront.net/assets/build/images/black.994154b6.jpg);
    background-repeat: no-repeat;
    background-size: 1201px 40px;
    margin: 0 10px 30px;
    opacity: .7;
    display:inline-flex;
}


section.prensa:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 192px;
    left: 0;
    background-size: 2500px 192px;
    background-repeat: no-repeat;
}

section.prensa:before {
    background-position: top;
    background-image: url(https://d17h7hjnfv5s46.cloudfront.net/assets/build/images/bg_top_bbp.20b132db.jpg);
}

section.contactos{
    background: linear-gradient( 
        40deg
         ,#45cafc,#303f9f) !important;
         color: #FFF;
}

section.contactos .md-form label, section.contactos .md-form label:focus{
    color: #FFF;
}

@media (min-width: 576px) and (max-width: 1200px) {
    .cuadros-categorias .card-columns{
        column-count: 2!important;
    }
}

footer.page-footer{
    color: #22423c !important;
}

/*.woocommerce-cart .sidebar,  .woocommerce-checkout .sidebar, .woocommerce-shop .sidebar, .woocommerce-page .sidebar{
    display: none;
}*/

.site-content .content-area{
    width: 100%!important;
}
#primary{
    padding: 0px!important;
}
ol, ul{
    margin: 0px!important;
}


.navbar-inside .nav-item{
    padding-right: 2%;
}

.navbar-inside .nav-category-inside{
    width: 55%;
}
.navbar-inside .items-right-inside{
    align-items: center;
}
.badge-notification {
    position: absolute;
    font-size: .6rem;
    margin-top: -.1rem;
    margin-left: -.5rem;
    padding: .2em .45em;
}

/*button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover, button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, a.button:focus, a.wp-block-button__link:not(.has-background):active, a.wp-block-button__link:not(.has-background):focus, a.wp-block-button__link:not(.has-background):hover{
    background-color: inherit!important;
}*/

@media (max-width: 1068px) {
    .display-contents-pc{
        display: contents!important;
    }
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
    color: #000!important;
}


.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link{
    color: #000!important;
}

.separate-containers .site-main{
    margin: 83px;
}

.category-header{
    margin-top: 65px!important;
}

/*body.tax-product_cat .site-main{
    margin: 0px!important;
}*/

strong {
    font-weight: bold!important;
}


.woocommerce form .form-row{
    display: grid!important;
}